h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    text-align: center
}
div {
    display: flex;
    justify-content: center;
    height: 100%;
    img {
        transform: rotate(10deg)
    }
}