/* You can add global styles to this file, and also import other style files */
@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    font-family: 'Lato', sans-serif;
    color: $font-color;
    background-color: $background-color; 
}
